@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;


}

body {
    display: block;
}

#header {
    width: 100%;
    height: auto;
    text-align: center;

}

#contents {
    width: 100%;
    margin-bottom: 60px;
}

#title {
    height: 100px;
    width: 80%;
    margin: 50px auto;
}

#service_title {
    font-size: 50px;
    font-weight: 700;

}

#menu {

    height: 200px;
    width: 80%;
    position: relative;
    background-color: #FCD13A;
    box-shadow: 1px 1px 10px lightgray;
    margin: 0 auto;
}

/* 검색창 */
#case {
    max-width: 600px;

    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;

}

#case #search-box {
    position: relative;
    height: 50px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    border-radius: 25px;
    display: flex;

}

#search-box input {
    position: relative;
    height: 100%;
    width: 80%;
    border-radius: 25px;
    background-color: #fff;
    outline: none;
    border: none;
    padding-left: 30px;
    font-size: 18px;

}


#search-box .icon {
width: 20%;
  height: 50px;
  /* position: relative; */
  top: 0;

  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 0 25px 25px 0;

}
#search-box .icon i{
    width: 50px;
    height: 50px;
    font-size: 20px;
    z-index: 999;
    color: #fff;
    line-height: 50px;
}

#main_mid_title {
    text-align: center;
}


#search-box .icon i:hover {
    
    font-size: 40px;
    text-shadow: 4px 2px 2px gray;
}




#map {
    position: relative;
    width: 80%;
    height: 600px;
    background-color: lightblue;
    margin: 0 auto;

}


.buttons {
    position: relative;
    margin: auto;
    width: 80%;
    text-align: center;
    top: 55px;
    left: 200px;

}

.ui inverted button {
    margin: 10px;
}

#dropdown {
    position: relative;
    top: -10px;
    left: 50px;
    width: 150px;
}





/* 지도결과리스트 */
#accordionExample {
    position: relative;
    top: 0px;
    width: 30%;
    left: 0px;
    

}
.accordion-body{
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    height: 546px;
}

.accordion-body::-webkit-scrollbar {
    width: 20px;
}

.accordion-body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.accordion-body::-webkit-scrollbar-track {
    background-color: #ffc944;
    border-radius: 10px;
    box-shadow: inset 0px 0px 7px #ffc944;
}

#maplist {
    width: 100%;
    
    background-color: lightyellow;
    text-align: center;
    
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #ffc944;

}

.text {
    position: relative;
    left: 400px;
}

/* ///////////////////태블릿미디어쿼리 ///////////*/
@media screen and (max-width :769px) {
    #title {
        height: 80px;
        width: 80%;
        margin: 20px auto;
    }

    #service_title {
        font-size: 35px;
        font-weight: 700;


    }

    /* 검색창 */
    #case {
        max-width: 400px;
        margin: 0 auto;
        margin-top: -10px;

    }

    #case #search-box {

        height: 35px;


    }



    #search-box .icon {

        height: 35px;


    }




    #map {
        position: relative;
        width: 80%;
        height: 600px;

        margin: 0 auto;

    }


    .buttons {
        position: relative;
        margin: 0 auto;
        width: 60%;
        top: 30px;
        left: 100px;

    }



    #dropdown {
        position: relative;
        top: -60px;
        left: 50px;
        width: 150px;
    }





    /* 지도결과리스트 */
    #accordionExample {
        position: relative;
        top: 0px;
        width: 100%;
        left: 0px;

    }

    #maplist {
        width: 100%;
        height: 100px;
      
        text-align: center;
        line-height: 1.4;

    }

    .footer {
        width: 100%;
        height: 150px;
        background-color: #ffc944;

    }

    .text {
        position: relative;
        left: 50px;
        font-size: 13px;

    }

}


/* /////////모바일 미디어쿼리 ///////////////*/
@media screen and (max-width :381px) {

    /* 검색창 */
    #title {
        height: 70px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    #service_title {
        font-size: 15px;
        font-weight: bold;
    }

    #sub-title {
        font-size: 10px;
    }

    #contents {
        width: 100%;
        margin-bottom: 20px;
    }


    #case {
        max-width: 200px;
        margin: 0 auto;
        margin-top: -10px;
        position: relative;
        top: 50px;
        left: 60px;
    }

    #case #search-box {

        height: 35px;
    }



    #search-box .icon {

        height: 35px;


    }

    #map {
        position: relative;
        width: 100%;
        height: 500px;

        margin: 0 auto;

    }


    .buttons {
        position: relative;
        display: inline;
        width: 30%;
        top: 30px;
        left: 10px;

    }

    #menu {
        width: 100%;
        height: 200px;
    }

    #dropdown {
        position: relative;
        top: 50px;
        left: 30px;
        width: 100px;
        height: 10px;
    }





    /* 지도결과리스트 */
    #accordionExample {
        position: relative;
        top: 0px;
        width: 100%;
        left: 0px;

    }

    #maplist {
        width: 100%;
        height: 100px;
        
        text-align: center;
        line-height: 1.4;

    }


    .footer {
        width: 100%;
        height: 100px;
        background-color: #ffc944;

    }

    .text {
        position: relative;
        left: 5px;
        font-size: 5px;
    }


}