@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css");

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  left: -10px;
}


#header{
  width: 100%;
  height: auto;
  text-align: center;

}
#header img{
  width: 1920px;
  margin: auto;
}

#main{
  padding-top:50px;
}
#case{
  max-width: 400px;
  width:100%;
  height: 50px;
  margin-top: 20px;

}
#case #search-box{
  position: relative;
  height: 50px;
  max-width:700px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  border-radius: 25px;
  display: flex;

}
#search-box input{
  position: relative;
  height: 100%;
  width: 80%;
  border-radius: 25px;
  background-color: #fff;
  outline: none;
  border:none;
  padding-left: 30px;
  font-size: 18px;

}
#search-box .icon{
  width: 20%;
  height: 50px;
  /* position: relative; */
  top: 0;
  background-color: #ffc944;;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 0 25px 25px 0; 

}
#main_mid_title{
  text-align: center;
}
#search-box .icon:hover{
  background-color: #ffc944;;
  font-size: 30px;
  text-shadow: 4px 2px 2px gray;
}

.contentment{
  margin: 100px auto;
  text-align: center;
  
}
.contentment button{
  width: 200px;
  height: 200px;
  box-shadow: #333;
  margin:0 0 10px 10px;
}

#sum{
  width: auto;
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  margin:auto;
}

#sum::-webkit-scrollbar {
  width: 20px;
}

#sum::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

#sum::-webkit-scrollbar-track {
  background-color: #ffc944;
  border-radius: 10px;
  box-shadow: inset 0px 0px 7px #ffc944;
}


/* ///////////nav.css////////////
아니 두개 적용할래니까 안대서 우선이렇게 할수바께ㅜㅜ */



.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
  z-index: 9998;
}
.wrapper .menu-btn{
  position: fixed; 
  left: 30px;
  top: 30px;
  background: #ffc944;;
  color: #333;
  height: 65px;
  width: 65px;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#sidebar img{
  margin-left: 100px;
  width: 200px;
}
#nav_btn:checked ~ .menu-btn{

    background-color: coral;

}
.menu-btn i{
    font-size: 40px;
}
#sidebar{
  position: fixed;
  background: #ffc944;
  height: 100%;
  width: 25%;
  overflow: hidden;
  left: -25%;
  transition: all 0.3s ease;
}

#nav_btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .list-items{
  position: relative;
  background: #ffc944;
  width: 100%;
  height: 100%;
  list-style: none;
}
#login_btn{
  margin-left: 20px;
  width: 65px;
  height: 50px;
  background: #fff;
  color: #333;
  height: 40px;
  width: 70px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
    }
#login_btn:hover {
  background-color: #ffc944;
  box-shadow: 0px 15px 20px rgba(229, 186, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
  }
#sidebar .list-items li{
  font-size: 20px;
  font-weight: 700;
  padding-left: 45px;
  line-height: 45px;
  /* border-top: 1px solid rgba(255,255,255,0.1);
  transition: all 0.3s ease; */
}
/* #sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
} */
#sidebar .list-items li:first-child{
  border-top: none;
}
#nav_search_box{
  background-color: #fff;
  /* flex-wrap: wrap; */
  margin-left: 40px;
  height: 300px;
  border-radius: 20px;
  width: 80%;
  line-height: 30px;
  height: 200px;
  padding-left: 40px;
  overflow-y:scroll;
  overflow-x:hidden;
}
#nav_search_box a{
  margin-left: 10px;
  width: 100px;

}
#btn-list-items{
  margin: 100px 50px 20px 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.list-items .icons a:first-child{
  margin-left: 0px;
}
#nav-mainbtn{
  margin-left: 30px;
  width: 260px;
  height: 260px;
}
#nav-mainbtn .btn{
  font-weight: 700;
  font-size: 20px;
  width: 100px;
  height: 100px;
  margin: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}


/* ////////////////////복지카드 css 시작 ////////////*/
#information {
  width: 100%;
  height: auto;
  text-align: center;

}

#div1 {
  width: auto;
  height: 650px;
  text-align: center;
}


#div2 {
  width: auto;
  height: 600px;
  text-align: center;

}



#div3 {
  width: auto;
  height: 600px;
  text-align: center;



}

.contents {
  width: auto;
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  

}

.contents::-webkit-scrollbar {
  width: 20px;
}

.contents::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.contents::-webkit-scrollbar-track {
  background-color: #ffc944;
  border-radius: 10px;
  box-shadow: inset 0px 0px 7px #ffc944;
}



.top {

  width: 100%;
  height: auto;

}

.dropdown {
  position: relative;
  top: 15px;
  left: -90px;
  text-align: center;
}

.reset_btn {
  position: relative;
  top: -10px;
  right: -150px;
}



.cards {
  display: inline-block;
  width: 320px;
  height: auto;
  margin:10px;
  line-height: 150%;
  top: -13px;
 

}

.card-header {
  width: auto;
  height: 50px;
  position: center;
  text-align: center;
}

.card-footer {
  margin-top: -20px;

}

/* ///미디어 쿼리가 나가신다 길을 비껴라아/// */
@media all and (min-width:381px) and (max-width:992px) {
  #sidebar{
    position: fixed;
    background: #ffc944;
    height: 100%;
    width: 50%;
    overflow: hidden;
    left: -60%;
    transition: all 0.3s ease;
  }
  

}

  

@media(min-width:381px){
  
 
  #case {
    margin: 10px auto;
    width: 50%

  }
  .content{
    margin: 20xp auto;
    text-align: center;
    margin: 3px auto;

  }
  .content button{
    width: 200px;
    height: 200px;
    box-shadow: #333;
    margin:20px 20px;
  }
  #card_case{
    display:flex;
    width: 80%;
    height: 600px;
    margin: auto;
    
  }
  .card{
    width:300px;
    height:280px;
    margin: 30px 10px ;
    text-align: center;
    font-size: small;
    }
  

    
    
}


@media(max-width:768px){
  
  #header img{
    width: 768px;
    margin: auto;
  }

  #sidebar{
    position: fixed;
    background: #ffc944;
    height: 100%;
    width: 50%;
    overflow: hidden;
    left: -60%;
    transition: all 0.3s ease;
  }

.wrapper .menu-btn{
  position:  fixed;
  left: 10px;
  top: 10px;
  background: #ffc944;
  color: #333;
  height: 50px;
  width: 50px;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#sidebar .list-items li{
  font-size: 10px;
  font-weight: 700;
padding-left: 20px;
line-height: 25px;}
#sidebar img{
  margin-left: 0;
  width: 150px;
}
#sidebar .title{
  line-height: 5px;
  text-align: center;
  background: #ffc944;}
#login_btn{
  margin-left: 10px;
  width: 75px;
  height:40px;
  font-weight: 700;
  background-color: #fff;
  color: #333;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#nav_search_box{
  font-size: 10px;
  background-color: #fff;
  line-height: 25px;
  border-radius: 20px;
  width: 80%;
  height: 150px;
  margin-left: 12px;
  overflow-y:scroll;
  padding-left: 0%;
}
#nav-mainbtn{
  margin-left: 15px;
  width: 90%;
  height: 90%;
}
#nav-mainbtn .btn{
  font-weight: 700;
  font-size: 20px;
  width: 80%;
  height: 16%;
  margin: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}
#case #search-box{
  position: relative;
  height: 50px;
  width:400px;
  top:-20px;
  left: -80px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  border-radius: 25px;
  display: flex;

}
}



@media(max-width:381px){
  #header img{
    width: 381px;
    margin: auto;
  }

  .top {
    font-size: 20px;
}


.contents::-webkit-scrollbar {
    width: 15px;
}

.dropdown {
    left: -50px;
    font-size:10px;
}

.reset_btn {
    font-size:10px;
    right: -110px;
}

.wrapper .menu-btn{
  position:  fixed;
  left: 10px;
  top: 100px;
  background: #ffc944;
  color: #333;
  height: 50px;
  width: 50px;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#nav_btn:checked ~ .menu-btn{
  top: 10px;
  background-color: coral;

}

.card {

    width: 280px;
    height: auto;
    font-size:15px;


}
#case #search-box{
  position: relative;
  height: 50px;
  width:300px;
  top:0;
  left: 0;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  border-radius: 25px;
  display: flex;

}
.contentment{
  margin: 20px auto;
  text-align: center;
}
.contentment button{
  width: 70%;
  height: 20%;
  box-shadow: #333;
  margin-top:10px;
}
}
@media screen and (min-width:1034px){
  #case #search-box{
    position: relative;
    height: 50px;
    width:700px;
    top:-20px;
    left: -150px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
    border-radius: 25px;
    display: flex;
  
  }
  #nav-mainbtn{
    margin: 0 auto;
    width: 150px;
  }
  #nav-mainbtn .btn{
    font-weight: 700;
    font-size: 25px;
    width: 150px;
    height: 150px;
    margin: 5px ;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  }

}