
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


#header{
  width: 100%;
  height: auto;
  text-align: center;
  
}
#header img{
  width: 150px;
  margin: auto;
}


#case{
  max-width: 400px;
  width:100%;
  height: 50px;
  margin-top: 10px;

}
#case #search-box{
  position: relative;
  height: 50px;
  max-width:380px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
  border-radius: 25px;
  display: flex;

}
#search-box input{
  position: relative;
  height: 100%;
  width: 80%;
  border-radius: 25px;
  background-color: #fff;
  outline: none;
  border:none;
  padding-left: 30px;
  font-size: 18px;
  
}
#search-box .icon{
  width: 20%;
  height: 50px;
  position: relative;
  right: -3px;
  top: 0;
  background-color: #eed153;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  border-radius: 0 25px 25px 0; 


}
.content{
  margin: 20xp auto;
  text-align: center;
  margin: 3px auto;
}
.content button{
  width: 70%;
  height: 20%;
  box-shadow: #333;
  margin-top:10px;
}

#card_case{
  text-align: center;
  margin: 10xp auto;
  margin-top: 20px;
  
}
.card-body{
  margin:5px auto ;
  width: 80%;
  background-color: #f2f2f2;
  border: slategray 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

@media(min-width:380px){
  #case {
    margin: 10px auto;
    width: 50%

  }
  .content{
    margin: 20xp auto;
    text-align: center;
    margin: 3px auto;
    
  }
  .content button{
    width: 200px;
    height: 200px;
    box-shadow: #333;
    margin:20px 20px;
  }
  #card_case{
    text-align: center;
    margin: 10xp auto;
    margin-top: 20px;
    display: flex;
  }
  .card-body{
    margin:5px 10px ;
    width: 500px;
    background-color: #f2f2f2;
    border: slategray 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }
}
  

/* ///////////nav.css////////////
아니 두개 적용할래니까 안대서 우선이렇게 할수바께ㅜㅜ */



.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
  z-index: 9998;
}
.wrapper .menu-btn{
  position: absolute;
  left: 30px;
  top: 30px;
  background: #eed153;
  color: #333;
  height: 65px;
  width: 65px;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#sidebar img{
  margin-left: 100px;
  width: 200px;
}
#nav_btn:checked ~ .menu-btn{
    
    background-color: coral;
  
}
.menu-btn i{
    font-size: 40px;
}
#sidebar{
  position: fixed;
  background: #eed153;
  height: 100%;
  width: 25%;
  overflow: hidden;
  left: -25%;
  transition: all 0.3s ease;
}
#nav_btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .list-items{
  position: relative;
  background: #eed153;
  width: 100%;
  height: 100%;
  list-style: none;
}
#login_btn{
  margin-left: 20px;
  width: 65px;
  height: 50px;
  background: #fff;
  color: #333;
  height: 40px;
  width: 70px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
    }
#login_btn:hover {
  background-color: #f5c732;
  box-shadow: 0px 15px 20px rgba(229, 186, 46, 0.4);
  color: #fff;
  transform: translateY(-7px);
  }
#sidebar .list-items li{
    font-size: 20px;
    font-weight: 700;
  padding-left: 45px;
  line-height: 45px;
  /* border-top: 1px solid rgba(255,255,255,0.1);
  transition: all 0.3s ease; */
}
/* #sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
} */
#sidebar .list-items li:first-child{
  border-top: none;
}
#search_box{

  background-color: cornflowerblue;
  flex-wrap: wrap;

}
#search_box a{
  margin-left: 10px;
  width: 100px;

}

.list-items .icons a:first-child{
  margin-left: 0px;
}




/* ///미디어 쿼리가 나가신다 길을 비껴라아/// */


@media(max-width:380px){
  #header{
    background-color: #eed153;
  }
  #sidebar{
    position: fixed;
    background: #eed153;
    height: 100%;
    width: 60%;
    overflow: hidden;
    left: -60%;
    transition: all 0.3s ease;
  }

.wrapper .menu-btn{
  position: absolute;
  left: 10px;
  top: 10px;
  background: #eed153;
  color: #333;
  height: 50px;
  width: 50px;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#sidebar img{
  margin-left: 0;
  width: 150px;
}
#sidebar .title{
  line-height: 5px;
  text-align: center;
  background: #eed153;}
#login_btn{
  margin-left: 10px;
  width: 75px;
  height:40px;
  font-weight: 700;
  background-color: #fff;
  color: #333;
  z-index: 9999;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
}