<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="../static/location_style.css">
  <title>복지시설 위치</title>
</head>


<body>
  <section id="logo">

  </section>
  <section id="menu">
    <div class=buttons>
      <div class="ui inverted segment">
        <button class="ui inverted button">병원/약국</button>
        <button class="ui inverted button">요양원</button>
        <button class="ui inverted button"> 노인정 </button><br>
        <button class="ui inverted button">노인대학</button>
        <button class="ui inverted button">공공기관</button>
        <button class="ui inverted button">초기화</button>
      </div>
    </div>
    <div id="dropdown">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span id="choice">지역선택</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <p>강서구</p>
              <p>구로구</p>
              <p>금천구</p>
              <p>양천구</p>
              <p>영등포구</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    <div id="maplist">
      <p>지도검색결과 리스트</p>
    </div>
  </section>

  <section id="main">
    <div class=map>
      <p style="margin-top:-12px">
        <b>Chrome 브라우저는 https 환경에서만 geolocation을 지원합니다.</b> 참고해주세요.
      </p>
      <div id="map" style="width:100%;height:100%;"></div>
      <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=35dde2f296a97b5ad171e7beb3bfb02c"></script>
      <script>
        let j = 0
        document.addEventListener("DOMContentLoaded", function () {
          alert(j)
          j = 1;
        })

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
          mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 1 // 지도의 확대 레벨 (1~) 숫자가 낮을수록 확대되어있음 (100이면 한반도 보임)
          };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        var positions = [
          {
            title: '카카오',
            content: '<div>카카오</div>',
            latlng: new kakao.maps.LatLng(33.450705, 126.570677)
          },
          {
            title: '생태연못',
            content: '<div>생태연못</div>',
            latlng: new kakao.maps.LatLng(33.450936, 126.569477)
          },
          {
            title: '텃밭',
            content: '<div>텃밭</div>',
            latlng: new kakao.maps.LatLng(33.450879, 126.569940)
          },
          {
            title: '근린공원',
            content: '<div>근린공원</div>',
            latlng: new kakao.maps.LatLng(33.451393, 126.570738)
          }
        ];

        var imageSrcYellow = "https://petsa-test.s3.ap-northeast-2.amazonaws.com/markerStar.png";

        var imageSrcRed = "https://petsa-test.s3.ap-northeast-2.amazonaws.com/markerStarBlue.png";

        var imageSrcBlue = "https://petsa-test.s3.ap-northeast-2.amazonaws.com/markerStarRed.png";

        if (j == 0) {
          j = j + 1

          for (var i = 0; i < positions.length; i++) {
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다    
            var markerImage = new kakao.maps.MarkerImage(imageSrcRed, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
              map: map, // 마커를 표시할 지도
              position: positions[i].latlng, // 마커를 표시할 위치
              title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
              image: markerImage // 마커 이미지 
            });

          }

        }
        else {
        }

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
        if (navigator.geolocation) {

          // GeoLocation을 이용해서 접속 위치를 얻어옵니다
          navigator.geolocation.getCurrentPosition(function (position) {

            var lat = position.coords.latitude, // 위도
              lon = position.coords.longitude; // 경도

            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
              message = '<div style="padding:5px;">현재위치 입니다.</div>'; // 인포윈도우에 표시될 내용입니다

            // 마커와 인포윈도우를 표시합니다
            displayMarker(locPosition, message);

          });

        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

          var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할수 없어요..'

          displayMarker(locPosition, message);
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition, message) {

          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
            map: map,
            position: locPosition
          });

          var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;

          // 인포윈도우를 생성합니다
          var infowindow = new kakao.maps.InfoWindow({
            content: iwContent,
            removable: iwRemoveable
          });

          // 인포윈도우를 마커위에 표시합니다 
          infowindow.open(map, marker);

          // 지도 중심좌표를 접속위치로 변경합니다
          map.setCenter(locPosition);
        }
      </script>
    </div>


</body>

</html>