<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="location_style.css">
    <title>복지시설 위치</title>
</head>


<body>
  <section id="logo">
    
    </section>
    <section id="menu">
      <div class=buttons>
      <div class="ui inverted segment">
        <button class="ui inverted button">병원/약국</button>
        <button class="ui inverted button">요양원</button>
        <button class="ui inverted button"> 노인정 </button><br>
        <button class="ui inverted button">노인대학</button>
        <button class="ui inverted button">공공기관</button>
        <button class="ui inverted button">초기화</button>
       </div>
      </div>
      <div id="dropdown">
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span id="choice">지역선택</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>강서구</p>
                <p>구로구</p>
                <p>금천구</p>
                <p>양천구</p>
                <p>영등포구</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div id="maplist">
        <p>지도검색결과 리스트</p>
    </div>
    </section>
    
    <section id="main">
    <div class=map>지도를 여기에???</div>

 
</body>
</html>