<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <!---<title>Animated Sidebar Menu | CodingLab</title>--->
  <link rel="stylesheet" href="../static/mainnav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="../static/main.js"></script>

</head>

<body>
  <div class="wrapper">
    <input type="checkbox" id="nav_btn" hidden>
    <label for="nav_btn" class="menu-btn">
      <i class="fas fa-user"></i>
      <!-- <i class="fas fa-times"></i> -->
    </label>
    <nav id="sidebar">
      <div class="title"><img src="../static/img/logo_02.gif"></div>

      <ul class="list-items">

        <!-- 입력창을 어떻게해줘야 db 넣기가 편한지 모름.. -->
        <li><img src='../static/profile_pics/profile_placeholder.png' style="width: 40px; height: 40px;"><button
            id="login_btn" onclick="sign_out()">로그아웃</button></li>
        <li>박 결님 (만 32세) </li>
        <li>관할 구청 : 은평구</li>
        <li>보호자 : 박현정 (복지사)</li>

        <li>내가 봤던 페이지 확인</li>
        <div id="search_box">

          <a href="#">검색기록</a>
          <a href="#">검색기록</a>
          <a href="#">검색기록</a>
          <a href="#">검색기록</a>
          <a href="#">검색기록</a>
          <a href="#">검색기록</a>
        </div>
      </ul>
    </nav>
  </div>

  <!-- /////여기부터메인입니다///// -->
  <div id="header">
    <img src="../static/img/logo_02.gif">
  </div>

  <div id="case">

    <div id="search-box">
      <input type="search" placeholder="검색어를 입력해주세요">
      <label class="icon">
        <i class="fas fa-search"></i>
      </label>

    </div>

  </div>








  <div class="content">
    <button type="button" class="btn btn-outline-success "><span>금융</span>
      <p>금융 복지 정보
    </button>
    <button type="button" class="btn btn-outline-success "><span>사회복지</span>
      <p>복지회관정보
    </button>
    <button type="button" class="btn btn-outline-success "><span>의료</span>
      <p>가까운의료시설위치
    </button>
    <button type="button" class="btn btn-outline-success "><span>여가</span>
      <p>노인정, 운동동호회
    </button>

  </div>

  <h3>노른자정보 한눈에보기</h3>

  <div id="card_case">
    <div id="card_case">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>


      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>




</body>

</html>